<!--{{ if not ($.Page.Scratch.Get "embed-pdf-count") }}-->

<script src="https://mozilla.github.io/pdf.js/build/pdf.mjs" type="module" crossorigin="anonymous" defer></script>

{{ $js := resources.Get "embed-pdf/embed-pdf.mjs" }}
<script src="{{ $js.RelPermalink }}" type="module" crossorigin="anonymous" defer></script>
{{ $css := resources.Get "embed-pdf/embed-pdf.css" }}

<link rel="stylesheet" href="{{ $css.RelPermalink }}"/>

<!--{{ end }}-->

{{ $.Page.Scratch.Add "embed-pdf-count" 1 }}

{{- $documentUrl := .Get "url" -}}
{{- $urlHash := substr (.Get "url" | md5) 0 8 -}}
{{- $hideLoader := .Get "hideLoader" -}}
{{- $hidePaginator := .Get "hidePaginator" -}}
{{- $renderPageNum := .Get "renderPageNum" -}}

<div
        data-document-url="{{ $documentUrl }}"
        data-document-url-hash="{{ $urlHash }}"
        data-hide-loader="{{ $hideLoader }}"
        data-hide-paginator="{{ $hidePaginator }}"
        data-render-page-num="{{ $renderPageNum }}">
    <div class="embed-pdf-container" id="embed-pdf-container-{{ $urlHash }}">
        <div class="pdf-loadingWrapper" id="pdf-loadingWrapper-{{ $urlHash }}">
            <div class="pdf-loading" id="pdf-loading-{{ $urlHash }}"></div>
        </div>
        <div id="embed-pdf-overlayText-{{ $urlHash }}" class="embed-pdf-overlay-text">
            <a href="{{ $documentUrl }}" aria-label="Download" download>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <path d="M9 13c.3 0 .5-.1.7-.3L15.4 7 14 5.6l-4 4V1H8v8.6l-4-4L2.6 7l5.7 5.7c.2.2.4.3.7.3zm-7 2h14v2H2z"/>
                </svg>
            </a>
        </div>
        <canvas class="pdf-canvas" id="pdf-canvas-{{ $urlHash }}"></canvas>
    </div>

    <div class="pdf-paginator" id="pdf-paginator-{{ $urlHash }}">
        <button id="pdf-prev-{{ $urlHash }}">Previous</button>
        <button id="pdf-next-{{ $urlHash }}">Next</button> &nbsp; &nbsp;
        <span>
      <span class="pdf-pagenum" id="pdf-pagenum-{{ $urlHash }}"></span> / <span class="pdf-pagecount"
                                                                                id="pdf-pagecount-{{ $urlHash }}"></span>
    </span>
        <a class="pdf-source" id="pdf-source-{{ $urlHash }}" href="{{ $documentUrl }}">[pdf]</a>
    </div>
</div>

<noscript>
    View the PDF file <a class="pdf-source" id="pdf-source-noscript-{{ $urlHash }}" href="{{ $documentUrl }}">here</a>.
</noscript>

